#profile_img{
    width: 100px;
    height: 100px;    
    margin: auto;
}

#reply_user_profile_img {
    width: 50px;
    height: 50px;
}


.modal-dialog {
    /*margin-top: 300px;*/
}

.reply_row {
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.delete-btn {
    margin-top: 15px;
}
.post_btn{
    position:relative;
    left:-180px;
    top:20px;
}
.bt1 {
    position:relative;
    left:100px;
    top:-25px;
}