/*#profile_img{
    width: 100px;
    height: 100px;    
    margin-bottom: 40px;
}

#header_profile_picture {
    width: 50px;
    height: 50px;
}
*/

.modal-dialog {
    /*margin-top: 300px;*/
}

.reply_row {
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.delete-btn {
    margin-top: 15px;
}