<li>
<div class="panel panel-success">
<div class="panel-heading">
Question {{id}} (Word Translate)
</div>
<div class="panel-body">
<div class="form-group">
<label>Input the question content</label>
<input class="form-control" placeholder="Enter text">
<br>
<label>Input the answer content</label>
<input class="form-control" placeholder="Enter text">
</div>            
</div>
<div class="panel-footer">
<button type="button" class="btn btn-info">Save</button>
<!-- <button type="button" class="btn btn-warning">Edit</button> -->
<button type="button" class="btn btn-danger">Delete</button>
</div>
</div>
</li>