<div class="panel panel-primary">
                <div  id="phead" class="panel-heading">
                    Question <p class="question-num" style="display:inline">{{id}}</p> (Word Translate)
                </div>
                <div id="pbody" class="panel-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">{{item.question}}</div>
                        </div>
                        <br>
                        <label>Input the answer content</label>
                        <input class="form-control" id="id_explanation" maxlength="200" name="explanation" placeholder="Explanation" type="text">
                        <div class="row">
                            {% if form.explanation.errors %}
                                <div class="col-lg-8">{{form.explanation}}</div>
                                <div class="col-lg-4" style="color:red">{{form.explanation.errors}}</div>
                            {% else %}
                                <div class="col-lg-12">{{form.explanation}}</div>
                            {% endif %}
                        </div>
                    </div>            
                </div>