#profile_img{
    width: 100px;
    height: 100px;    
    margin-bottom: 40px;
}

#header_profile_picture {
    width: 50px;
    height: 50px;
}


.img-learn {
    width: 150px;
    height: 150px;
}

.panel-footer {
    background-color: white;
}

#left {
    float: left;
    width: 50%;
    background: red;
    height: 100%;
    overflow: scroll;
}
#right {
    float: left;
    width: 50%;
    background: blue;
    height: 100%;
    overflow: scroll;
}